<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
        }

        .flex {
            display: flex;
        }

        body {
            width: 100%;
            height: 100vh;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        .card {
            padding-inline: 20px;
            width: 500px;
            background: #fff;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
            border-radius: 20px;
        }

        .form_inputs {
            flex-direction: column;
            align-items: center;
            padding: 20px;
            gap: 10px;
        }

        .form_inputs input {
            width: 100%;
            padding: 7px;
            border-radius: 10px;
            outline: none;
            border: 0.5px solid rgba(0, 0, 0, 0.438);
        }

        .form_inputs textarea {
            width: 100%;

        }

        .service_details {
            padding: 20px;
            flex-direction:  column;
            gap: 20px;
            justify-content: center;
            align-items: center;
        }
        .detail{
            gap: 20px;
        }

        .service_details img {
            height: 50px;
            aspect-ratio: 1;
        }
        .btn{
            padding: 10px;
            background: rgba(238, 43, 43, 0.74);
            color: #fff;
            border: none;
            outline: none;
            border-radius: 10px ;
            text-align: center;
        }
        .btn2{
            color: #fff;
            padding: 10px;

            border: none;
            outline: none;
            border-radius: 10px ;
            background-color: rgb(75, 219, 75);
        }
    </style>
</head>

<body class="flex">
    <div class="card">
        <form action="/api/service/create" method="post" enctype="multipart/form-data">
            <div class="form_inputs flex">
                <input type="text" name="name">
                <textarea name="description" id="description" cols="30" rows="10"></textarea>
                <input type="file" name="image">
                <button class="btn">Create</button>
            </div>
        </form>
    </div>

    <div class="card service_details flex">
        <% if (services && services.length> 0) { %>
            <% services.forEach(service=> { %>
                <div class="card flex detail">
                    <img src="/uploads/serviceimg/<%= service.image  %> " alt="">
                    <h4><a href="/api/service/<%= service._id  %>">
                            <%= service.name %>
                        </a></h4>
                    <p>
                        <%= service.description %>
                    </p>
                   <a href="/api/service/delete/<%= service._id  %>" class="btn">Delete</a> 
                   <a href="/api/service/update/<%= service._id  %>" class="btn2">Update</a> 
                </div>
               
                <% }) %>
                    <% } %>

    </div>

   
   
</body>

</html>